* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
}

h1 {
    margin-top: 0;
    font-size: 22px;
}

h2 {
    margin-top: 0;
    font-size: 20px;
}

h3 {
    margin-top: 0;
    font-size: 18px;
}

h4 {
    margin-top: 0;
    font-size: 16px;
}

h5 {
    margin-top: 0;
    font-size: 14px;
}

h6 {
    margin-top: 0;
    font-size: 12px;
}

code {
    font-size: 1.2em;
}

ul {
    padding-inline-start: 20px;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 200px;
}
button {
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f8ff;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s, border 0.3s;
}
button:hover {
    border: 2px solid #ccc;
    background-color: #e0e8ff;
}
.thumbnail {
    position: relative;
    aspect-ratio: 16 / 9;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    outline-offset: 2px;
    width: 8rem;
    vertical-align: middle;
    background-color: #ffffff;
    background-size: cover;
    user-select: none;
}
.thumbnail.blue {
    background-image: conic-gradient(at top right, #c76a15, #087ea4, #2b3491);
}
.video {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    align-items: center;
    margin-top: 1em;
}
.video .link {
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
    gap: 0.125rem;
    outline-offset: 4px;
    cursor: pointer;
}
.video .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 8px;
    gap: 0.125rem;
}
.video .info:hover {
    text-decoration: underline;
}
.video-title {
    font-size: 15px;
    line-height: 1.25;
    font-weight: 700;
    color: #23272f;
}
.video-description {
    color: #5e687e;
    font-size: 13px;
}
