:root {
    --primary: #04b1b8;
    --info: #1b59ed;
    --accent: #fdab08;
    --dark: #181827;
    --less-dark: #242439;
    --light: #f4f4f7;
    --less-light: #ababc9;
}

body, html {
    font-family: 'Roboto', sans-serif;
    color: var(--dark);
}

a {
    color: var(--primary);
    text-decoration: none;
}

.hero {
    background-color: var(--dark);
    color: var(--light);
}

.hero .logo {
    display: flex;
    align-items: center;
    gap: 15px;
    /* justify-content: flex-end; */
}

.hero .logo h2 {
    font-size: 17px;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 1px;
    color: var(--less-light);
}

.hero .date-meta h5 {
    margin-bottom: 3px;
    color: var(--light);
    letter-spacing: 0.3px;
    font-size: 19px;
}

.hero .date-meta h6 {
    margin: 0;
    font-size: 15px;
    letter-spacing: 0.4px;
    color: var(--less-light);
}

header {
    background-color: var(--less-dark);
    position: sticky;
    top: 0;
    z-index: 9;
    box-shadow: 0px 12px 15px 0px rgb(114 116 118 / 57%);
}

header ul li button {
    color: #b2b2c6 !important;
    text-transform: uppercase;
    font-weight: 400 !important;
    letter-spacing: 0.5px;
    font-size: 0.95rem !important;
    border: 1px solid #3e3e5c !important;
    line-height: 1.3;
}

header ul li button:hover,
header ul li button:focus {
    background-color: #3e3e5c !important;
    color: var(--light) !important;
    border-width: 1px !important;
}

.btn-toolbar {
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 52px;
    z-index: 9;
    margin-top: 12px;
}

.btn-toolbar .toolbar-trigger {
    display: flex;
    align-items: center;
    background: var(--accent);
    padding: 5px 10px;
    border-radius: 8px;
}


/* Fancy Checkbox to replace the toolbar bulky appearance */

.fancyCheckBox{
    margin: 4px;
    background-color: #104068;
    border-radius: 4px;
    border: 1px solid #fff;
    overflow: hidden;
  }
  
  .fancyCheckBox label {
    /* height: 3.0em; */
  }
  
  .fancyCheckBox label span {
    text-align: center;
    padding: 3px 0;
    display: block;
  }
  
  .fancyCheckBox label input {
    position: absolute;
    display: none;
    color: var(--light) !important;
  }
  /* selects all of the text within the input element and changes the color of the text */
  .fancyCheckBox label input + span{color: #fff;}
  
  
  /* This will declare how a selected input will look giving generic properties */
  .fancyCheckBox input:checked + span {
      color: #ffffff;
      background-color: red;
  }

.large {
  padding: 50px;
}
.cardwidth {
  width: 20rem;
}
.margintopbottom {
  margin-top: 20px;
  margin-bottom: 20px;
}
.margintopbottom10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.margintopbottom5 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.cardmin {
  min-width: 300px;
}

.large-text {
  font-size: x-large;
}

.checkbox-bigger {
  zoom: 1.5;
}

.heartredbutton {
  background-image: url("/images/heart-red.png");
  background-color: transparent;
  cursor: pointer;
  border: none;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  float: right;
}

.heartdarkbutton {
  background-image: url("/images/heart-dark.png");
  background-color: transparent;
  cursor: pointer;
  border: none;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  float: right;
}
